@import url('../../tokens.css');

:host { display: flex; }

.root {
  display: block;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--spacingHorizontalXS);
  font-size: var(--fontSizeBase300);
  line-height: var(--lineHeightBase300);
}

:host([size='large']) .breadcrumb {
  font-size: var(--fontSizeBase400);
  line-height: var(--lineHeightBase400);
}

:host([size='small']) .breadcrumb {
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
}
