@import url('../../tokens.css');

:host { display: inline-flex; }

:host([hidden]) .root {
  display: none;
}

.root {
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  outline: none;
  user-select: none;
  padding: 0 var(--spacingHorizontalXXS);
  width: 40px;
  height: 20px;
  background-color: var(--colorTransparentBackground);
  border: 1px solid var(--colorNeutralStrokeAccessible);
  border-radius: var(--borderRadiusCircular);
  display: inline-flex;
  position: relative;
}

:host(:enabled) .root {
  cursor: pointer;
}

.root:hover {
  background: none;
  border-color: var(--colorNeutralStrokeAccessibleHover);
}

.root:active {
  border-color: var(--colorNeutralStrokeAccessiblePressed);
}

:host([disabled]) .root,
:host([readonly]) .root {
  border: 1px solid var(--colorNeutralStrokeDisabled);
  background-color: transparent;
  cursor: default;
}

:host([checked]) .root {
  background: var(--colorCompoundBrandBackground);
  border-color: var(--colorCompoundBrandBackground);
}

:host([checked]) .root:hover {
  background: var(--colorCompoundBrandBackgroundHover);
  border-color: var(--colorCompoundBrandBackgroundHover);
}

:host([checked]) .root:active {
  background: var(--colorCompoundBrandBackgroundPressed);
  border-color: var(--colorCompoundBrandBackgroundPressed);
}

:host([checked][disabled]) .root {
  background: var(--colorNeutralBackgroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
}

.checked-indicator {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin: auto 0 auto 0;
  background-color: var(--colorNeutralForeground3);
  transition-duration: var(--durationNormal);
  transition-timing-function: var(--curveEasyEase);
  transition-property: margin-left, margin-right;
  display: block;
  flex-shrink: 0;
}

:host([checked]) .root .checked-indicator {
  background-color: var(--colorNeutralForegroundInverted);
  margin-left: calc(100% - 14px);
  margin-right: 0;
}

:host([checked]) .root:hover .checked-indicator {
  background: var(--colorNeutralForegroundInvertedHover);
}

:host([checked]) .root:active .checked-indicator {
  background: var(--colorNeutralForegroundInvertedPressed);
}

.root:hover .checked-indicator {
  background-color: var(--colorNeutralForeground3Hover);
}

.root:active .checked-indicator {
  background-color: var(--colorNeutralForeground3Pressed);
}

:host([disabled]) .root .checked-indicator,
:host([readonly]) .root .checked-indicator {
  background: var(--colorNeutralForegroundDisabled);
}

:host([checked][disabled]) .root .checked-indicator {
  background: var(--colorNeutralForegroundDisabled);
}

.root:focus-visible {
  outline: none;
}

:host(:not([slot='input'])) .root:focus-visible {
  border-color: var(--colorTransparentStroke);
  outline: var(--strokeWidthThick) solid var(--colorTransparentStroke);
  outline-offset: 1px;
  box-shadow: var(--shadow4), 0 0 0 2px var(--colorStrokeFocus2);
}

@media (forced-colors: active) {
  .root {
    border-color: InactiveBorder;
  }

  :host([checked]) .root,
  :host([checked]) .root:active,
  :host([checked]) .root:hover {
    background: Highlight;
    border-color: Highlight;
  }

  .checked-indicator,
  .root:hover .checked-indicator,
  .root:active .checked-indicator {
    background-color: ActiveCaption;
  }

  :host([checked]) .root .checked-indicator,
  :host([checked]) .root:hover .checked-indicator,
  :host([checked]) .root:active .checked-indicator {
    background-color: ButtonFace;
  }

  :host([disabled]) .root .checked-indicator,
  :host([checked][disabled]) .root .checked-indicator {
    background-color: GrayText;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .checked-indicator {
    transition-duration: 0.01ms;
  }
}
